<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="icon" type="image/png" href="/images/favlogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,600|Source+Sans+Pro:200,300,400,600,700">

    <title><%= current_page.data.title || "Katalin Pomikacsek" %></title>

    <%= stylesheet_link_tag "styles", media:"all" %>
    
    <script src="javascripts/modernizr-2.6.2.min.js"></script>

    <script type="text/javascript" src="//use.typekit.net/hfa8ply.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <section class="site group content-container" role="main">
      <%= partial "partials/tagline" %>
      
      <%= yield %>
    </section>
    <%= partial "partials/footer" %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery-1.10.1.min.js"><\/script>')</script>
    <%= javascript_include_tag  "all" %>
    <script>
      var navigation = responsiveNav("#nav", { 
        transition: 400,
        label: '',
        insert: "before",
        customToggle: '#nav-toggle'
      });
    </script>

  </body>
</html>